@{
    Layout = null;
    ViewBag.Title = "Store";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Store</title>
</head>
<body>
    <div>
        <h1>Welcome to My Order Store</h1>
    </div>
</body>
</html>
