@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SaveItem</title>
</head>
<body>
    <div>
        <h2>Item Save Succesfully</h2>

        <p>Product ID: @ViewBag.Id</p>
        <p>Name: @ViewBag.Name</p>
        <p>Price: @ViewBag.Price</p>
        <p>Quantity: @ViewBag.Quantity</p>

    </div>
</body>
</html>
