@model Demo.Models.LineItem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
</head>
<body>
    <div>
        <h2>Item Save Succesfully</h2>

        <p>Product ID: @Model.Id</p>
        <p>Name: @Model.Name</p>
        <p>Price: @Model.Price</p>
        <p>Quantity: @Model.Quantity</p>
    </div>
</body>
</html>
